*{
    margin: 0;
    padding: 0;
}

#dashboard-wrapper{
    width: 100vw;
    height: 100vh;
}

#header{
    width: 100%;
    height: 10vh;
}

#main{
    width: 100%;
    height: 88vh;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
}

#topic-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    
}

#topic-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.topic{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-topics{
    height: 100%;
    width: 100%;
}

#add-topics-input{
    display: block;
}

#title-date-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    #topic-list{
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    
}

